.conteudo {
    margin: 100px auto 0;
    width: 400px;
}

input[type="text"] {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 18px;
    width: 320px;
}

input[type="checkbox"] {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

ul {
    padding-inline-start: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

button {
    cursor: pointer;
    color: #7f7f7f;
    border: 0;
    background: none;
}

.label-title {
    font-weight: 600;
}

.tasks-container {
    margin-bottom: 2em;
}

.task-label {
    margin-right: 2em;
}


#add-button:hover {
    color: green;
}

.delete-button:hover {
    color: red;
}
