.conteudo {
    margin: 100px auto 0;
    width: 400px;
}

input[type="text"] {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 18px;
}

button {
    cursor: pointer;
    color: #7f7f7f;
    border: 0;
    background: none;
}
