* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: #397197;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo {
    margin: 100px auto 0;
    width: 40%;
    border: 2px solid #fff;
    padding: 30px 20px;
    min-width: 500px;
}
.adicionar-tarefa{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    /* display: flex; */
}
h3,
label[for='nova-tarefa'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
label[for='nova-tarefa'] {
    display: block;
    margin: 0 0 20px;
}
input#nova-tarefa {
    flex: 3;
    font-size: 16px;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}
input#nova-tarefa[type="text"]:focus {
    /* color: #333; */
    outline: none;
    border-color: #397197;
}
button#botao-adicionar {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    /* height: 100%; */
    font-size: 16px;
    border: none;
    background-color: #397197 ;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}
 .tarefas{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    
}

.tarefas-completas{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;

}
/* Coisas criadas a partir do ts */
.task-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 6px;
   margin-top: 6px 
}

.task-delete-button, .task-edit-button{
    background-color: #397197;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    justify-items: right;
}


/* ul {
    margin: 0;
    padding: 0;
}
li * {
    float: left;
}
input, button {
    outline: none;
}
button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    background: none;
    border: 0px;
    color: #888;
    font-size: 16px;
    width: 25%;
    text-align: center;
    margin: 10px 0 0;
    cursor: pointer;
    border: none;
    padding: 12px;
    margin-left: 12px;
    background-color: #333;
}


input[type="text"] {
    flex: 3;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    padding: 12px;
    border: 2px solid #d1d3d4;
    background: #fff;
    border-radius: 6px;
    font-weight: 500;
    color: #888;
}




li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}
li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
}
li >  input[type="text"] {
    width: 226px;
}

#completed-tasks label {
    text-decoration: line-through;
    color: #888;
} */

