.container {
  margin: auto;
  width: 700px;
}

h3.title {
  border-bottom: 1px solid gray;
}

button.btn {
  cursor: pointer;
  height: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
}

button.btn-add {
  background-color: #1971c2;
}

button.btn-delete {
  background-color: #e03131;
}

input[type="text"] {
  width: 100%;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 18px;
}

div.divider {
  border-bottom: 2px solid;
}

.section-container {
  margin-bottom: 1rem;
}

.add-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

ul.list-container {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

ul.list-container > li.list-item {
  list-style-type: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  gap: 0.5rem;
}

.list-item button:last-child {
  margin-left: auto;
}

.list-item:not(:last-of-type) {
  border-bottom: 1px solid gray;
}
